body {
  margin: 0;
}
a {
  color: white;
  text-decoration: none;
}
a:visited {
  color: grey;
}

.search {
  margin-left: 20px;
  padding: 5px;
}
.search-send {
  padding: 6px 10px;
  background: lightgray;
  border: none;
  border-radius: 5px;
  vertical-align: middle;
}
    
.nav {
  display: flex;
  padding: 15px;
  align-items: center;
  background: #262626;
}
.nav a {
  margin-right: 10px;
}
.logo {
  font-weight: bold;
  background-color: #262626;
  color: white;
}
.Hub {
  font-weight: bold;
  background-color: orange;
}
.nav-spacer {
  flex: 1;
}
.nav-img {
  margin-left: 10px;
}



.grey-bg {
  background: #161616;
}
.white-bg {
  background: #262626;
  margin: 20px;
  border-radius: 5px;
}
.list-box {
  padding: 10px;
  border-bottom: 1px solid#161616;
}
.list-box h4 {
  font-size: 16px;
  margin: 5px;
}
.list-box p {
  font-size: 13px;
  margin: 5px;
  color: white;
}


input, div {
  box-sizing: border-box;
}
.form-box {
  background: white;
  padding: 25px;
  margin: 20px;
  border-radius: 8px;
}
.form-box input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
}
.form-box button {
  padding: 10px;
  border: none;
  background: lightgrey;
  border-radius: 5px;
}


.detail-bg {
  background: #262626;
  padding: 15px;
  margin-top: 10px;
  color: white;
}


.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.pagination a {
  padding: 10px 20px;
  border: 1px solid #ddd;
  color: #007bff;
  text-decoration: none;
  font-size: 18px;
  display: inline-block;
}
.pagination a:hover {
  background-color: #e6f0ff;
}
.pagination a.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}
